body {
  margin: 0;
  padding: 0;
  background: #eaeaea;
}

.back {
  top: 40px;
  left: 10px;
  z-index: 99;
  position: relative;
}

.back a {
  font-size: 20px;
  background-color: gray;
  text-decoration: none;
  color: black;
  padding: 20px;
}

.container {
  width: 100%;
  height: auto;
  margin-top: 50px;
}

.gallery-wrapper {
  width: 100%;
  max-width: 340px;
  margin: 0 auto;
  height: auto;
}

.gallery {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.gallery-item:not(:last-of-type) {
  margin-bottom: 40px;
}

.gallery-img {
  max-width: 100%;
}

.gallery-im-caption {
  margin: 0;
  padding: 8px;
  background: #3a3a3a;
  color: #f2f2f2;
}

@media screen and (min-width: 769px) {
  .gallery-wrapper {
    max-width: 1240px;
  }

  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .gallery-item {
    padding: 20px;
  }

  .gallery-img {
    min-width: 350px;
    max-width: 350px;
  }
}
